body {
    background-image: url('imagens/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.col {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 2rem;
}