body {
    background-image: url('imagens/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container select {
    width: 10rem;
    font-family: Montserrat;
    font-weight: bold;
    margin: 2rem;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(131, 216, 156);
    color: #fff;
    transition: 400ms;
}

button:hover {
    background-color: #cdcdcd;
    color: rgb(131, 216, 156);
}